server:
  port: 8081

spring:
  application:
    name: redis-lab

  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2000

logging:
  level:
    org.springframework.data.redis: INFO
